.loading {
    text-align: left;
    width: 400px;
    height: 144px;
    margin: 100px auto;
    padding: 36px 32px;
    border-radius: 12px;
    background: #FFF;
    box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.10);
    color: #4F4F4F;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 27px;
    letter-spacing: -0.63px;
}
